

body {
	margin: 0;
	line-height: 1;
}

.wrapper {
	width: 976px;
	margin: 0 auto;
}

.header {
	
  	background: url(http://www.99hdwallpaper.com/ocean/wallpapers/ocean-hd-wallpaper-free-download.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	position: relative;
	font-family: 'oswald', sans-serif;
	background-color:#10b5b8;
	height: 524px;
	margin:0;
}

.header h1 {
	display:inline-block;
	font-size: 25px;
	padding-top: 0px;
	text-align: left;
	font-size: 16px;
	margin: 0;
}

.header h2 {
	margin-top: 0px;
	text-align: center;
	font-size: 100px;
	color: white;
	padding-top:190px;
}

.header h3 {
	text-align: center;
	font-size: 16px;
	margin:0px;
	line-height: 15px;
}

.body {
	font-color: White;
	font-size: 50px;
}

.overlay {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:rgba(37,117,189,0.68);
}

.nav ul li {
	margin:0px;
	float:right;
	padding: 0 10px;
	text-align: right;
	font-size: 16px;
}


.section {
	display: inline-block;
	font-size:65px;
	padding-top: 40px;
	padding-left: 80px;
	padding-right: 20px;
	padding-bottom: 40px;
	line-height: 24px;
	width: 65%;
	float:left;
}

.section-two {
	display: inline-block;
	font-size: 10px;


}

.primary {
	font-size:65px;
	padding-top: 40px;
	padding-left: 80px;
	padding-right: 20px;
	padding-bottom: 40px;
	line-height: 69px;
	font-family: 'Oswald', sans-serif;
}

.circle-img {
	border-radius: 100px;
	height: 83px; 
	width: 83px;
	margin-top: 10px;
	background:url("http://cdn3.volusion.com/9ar4p.t4qod/v/vspfiles/photos/hat03-1.jpg");
	padding:40px;
	margin-left:20px;
	margin-top:50px;
}

.circle2 {
	background:url("http://cdn3.volusion.com/9ar4p.t4qod/v/vspfiles/photos/hat03-1.jpg");
	border-radius: 100px;
	height: 20px;
	width: 20px;
}

.para-one {
	font-size: 16px;
	padding: 3px;
	font-family: 'Asap', sans-serif;
	word-spacing: 2px;
	line-height: 26px;
	float: left;
	color:#7C7F76;
}

.para-two {
	font-size: 16px;
	padding: 3px;
	font-family: 'Asap', sans-serif;
	word-spacing: 2px;
	line-height: 26px;
	float: left;
	color:#7C7F76;
}


.para-three {
	font-size: 16px;
	padding: 3px;
	font-family: 'Asap', sans-serif;
	word-spacing: 2px;
	line-height: 26px;
	float: left;
	color:#7C7F76;
}

.para-four {
	font-size: 16px;
	padding: 3px;
	font-family: 'Asap', sans-serif;
	word-spacing: 2px;
	line-height: 26px;
	float: left;
	color:#7C7F76;
}

.sidebar {
	display: inline-block;
	width: 22%;
	float: right;
	overflow:hidden;
}

.ad-image{
	height: 280px;
	width: 305px;
	padding-right: 75px;
}

.ad {
	font-family:'Asap', sans-serif;
	font-size:14px;
	color:#AEB3C7;
	text-decoration: underline;
}

.section-heading {
	font-size: 18px;
	padding: 2px;
	font-family: 'oswald', sans-serif;
	word-spacing: 2px;
	line-height: 26px;
	color: #1757C4;
	margin:0px;

}

.p5 {
	font-size: 15px;
	padding: px;
	font-family: 'Asap', sans-serif;
	word-spacing: 2px;
	line-height: 26px;
	margin:0px;
	color:#AEB3C7;
}

.secondary {
	margin-top: 0px;
	color:rgba(37,117,189,0.68);
	font-family: 'Asap', sans-serif;
	font-size: 17px;
	padding:20px;
	line-height: 6px;
}

.twitter {
	word-spacing: 10px;
	padding: 2px;
	color: gray;
	font-size: 12px;
	font-family: 'Asap', sans-serif;
	margin-bottom:20px;
	text-align:30px;
	line-height: 0px;
	
}	

.footer {
	background-image: url(http://www.liquidsaltmag.com/wp-content/uploads/2009/11/israel.jpg);
	margin: 0;
	width:25%;	
	height: 330px;
	background-size:cover;
	display:inline-block;
	overflow:hidden;
}

.footer-2 {
	background-image: url(http://st.houzz.com/simgs/af215c760eb45bbe_4-3459/-wood-flooring.jpg
	margin:0px auto;);
	margin: 0;
	width:25%;	
	height: 330px;
	background-size:cover;
	display:inline-block;
}









