/*/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}*/
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}*/
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

* {
	vertical-align: top;
}

.wrapper {
	
	width: 1000px;
	/* */
	margin: 0 auto 0 auto;
}

.header {
	
  	background: url(http://www.99hdwallpaper.com/ocean/wallpapers/ocean-hd-wallpaper-free-download.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	position: relative;
	font-family: 'oswald', sans-serif;
	background-color:#10b5b8;
	height: 524px;
}

.header h1 {
	display:inline-block;
	font-size: 25px;
	padding-top: 20px;
	text-align: left;
	font-size: 16px;
	margin: 0;
}

.header h2 {
	margin-top: 150px;
	text-align: center;
	font-size: 100px;
	color: white;
}

.header h3 {
	text-align: center;
	font-size: 16px;
	margin-top: 15px;

}

.body {
	font-color: White;
	font-size: 50px;
}

.overlay {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:rgba(37,117,189,0.68);
}

.nav ul li {
	margin-top: 20px;
	float:right;
	padding: 0 10px;
	text-align: right;
	font-size: 16px;

}

.nav-two {
	text-align: right;
	font-size:12px;
	float:right;
	padding-right:40px;
	padding-left:40px;
	padding-bottom:50px;
	padding-top:100px;
}

.section {
	display: inline-block;
	width:70.5%;
	font-size:65px;
	padding-top: 40px;
	padding-left: 80px;
	padding-right: 20px;
	padding-bottom: 40px;
	line-height: 69px;
}

.section-two {
	display: inline-block;


}

.primary {
	font-size:65px;
	padding-top: 40px;
	padding-left: 80px;
	padding-right: 20px;
	padding-bottom: 40px;
	line-height: 69px;
	font-family: 'Oswald', sans-serif;
}

.circle-img {
	border-radius: 100px;
	height: 83px; 
	width: 83px;
	margin-top: 10px;
	background:url("http://cdn3.volusion.com/9ar4p.t4qod/v/vspfiles/photos/hat03-1.jpg");
	padding:40px;
	margin-left:20px;
}

.circle-img-two {
	border-radius: 100px;
	height: 25px;
	margin-top:400px;
	margin-right: 200px;
	width: 25px;
	text-align: top;
	background:url("http://cdn3.volusion.com/9ar4p.t4qod/v/vspfiles/photos/hat03-1.jpg");
;
}



.para-one {
	font-size: 16px;
	padding: 3px;
	font-family: 'Asap', sans-serif;
	word-spacing: 2px;
	line-height: 26px;
	float: left;
}

.para-two {
	font-size: 16px;
	padding: 3px;
	font-family: 'Asap', sans-serif;
	word-spacing: 2px;
	line-height: 26px;
	float: left;
}

.break {
	font-family:'Asap', sans-serif;;
	padding:3px;
	font-size:29px; 
	word-spacing:2px;
	line-height:91px;
	color:rgba(37,117,189,0.68);
}


.para-three {
	font-size: 16px;
	padding: 3px;
	font-family: 'Asap', sans-serif;
	word-spacing: 2px;
	line-height: 26px;
	float: left;
}

.para-four {
	font-size: 16px;
	padding: 3px;
	font-family: 'Asap', sans-serif;
	word-spacing: 2px;
	line-height: 26px;
	float: left;
}


.sidebar {
	display: inline-block;
	width: 22%;
	border: right 1px solid purple;
	float: right;

}

.main {
	width: 70.5%;
	display: inline-block;
}


	
.girl {
	height: 280px;
	width: 305px;
	padding-right: 75px;
}

.secondary {
	margin-top: 0px;
	color:rgba(37,117,189,0.68);
	font-family: 'Asap', sans-serif;
	font-size: 17px;
	padding:20px;
	line-height: 6px;
}

.twitter {
	word-spacing: 10px;
	padding: 2px;
	color: gray;
	font-size: 12px;
	font-family: 'Asap', sans-serif;
	margin-bottom:20px;
	text-align:30px;
	line-height: 0px;
	
}	

.footer div {
	display:inline-block;
	width:24%;
	height: 100px;
	border: 1px solid;
	
}
.image-one {
	width: 270px;
	height: 270px;
	padding-top:155px;
	padding-bottom:80px;
	padding-right:90px;
	padding-left:0px;
	overflow: hidden;
	font-size: 28px;
	font-family: 'oswald', sans-serif;
	color: solid black;
	position:absolute;
	background-size: cover;
	background-image: url("http://www.liquidsaltmag.com/wp-content/uploads/2009/11/israel.jpg");
}






